.aboutintro{
    background-image: url('../../Assets/img/aboutus-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    &__wrapper {
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    &__title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 64px;
line-height: 75px;
        color: #FFFFFF;
    }
    &__subtitle{
        max-width: 844px;
        width: 100%;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
    }
}