.intro {
    background-image: url('../../Assets/img/home_intro_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    &__wrapper {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    &__title {
        margin-bottom: 80px;
        font-weight: 700;
        font-size: 96px;
        line-height: 112px;
        color: #FFFFFF;
    }
    
    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__item {
        padding: 40px 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: 700;
        font-size: 96px;
        line-height: 112px;
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.01);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 4px;
    }
    
    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
    }
    &__box{
        width: 203px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__subtitle {
        width: 504px;
        margin: 10px 0;
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        color: #FFFFFF;
    }
    &__subtext{
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 1250px) {
    .intro{
        &__title{
            font-size: 8vw;
        }
        &__item{
            font-size: 3vw 2vw;
        }
        &__subtitle{
            width: 41vw;
            font-size: 2.3vw;
        }
        &__text{
            font-size: 1.1vw;
        }
        &__subtext{
            font-size: 1.1vw;
        }
    }
}

@media screen and (max-width: 1100px) {
    .intro{
        &__title{
            margin-bottom: 60px;
        }
        &__item{
            padding: 20px 10px;
        }
        &__text{
            font-size: 13px;
            line-height: normal;
        }
        &__subtitle{
            margin: 5px 0;
            line-height: normal;
            font-size: 18px;
        }
        &__subtext{
            line-height: normal;
        }
    }
}

@media screen and (max-width: 768px) {
    .intro{
        padding-top: 100px;
        &__list{
            flex-direction: column;
        }
        &__title{
            font-size: 64px;
            line-height: 75px;
            margin-bottom: 40px;
        }
        &__item{
            margin-bottom: 20px;
            padding: 30px 15px;
            width: 80%;
            // backdrop-filter: blur(14px);
        }
        &__subtitle{
            margin: 10px 0;
            width: 100%;
        }
        &__subtext{
            font-size: 13px;
        }
    }
}